body {
    background-color: #2E4053;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.welcome-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #34C759;
    animation: popup 2s;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

#music-toggle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #34C759;
    color: #2E4053;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#music-toggle:hover {
    background-color: #2E4053;
    color: #34C759;
    border: 1px solid #34C759;
}